<!--<p>crypto-form works!</p>-->
<div class="columns is-centered">
  <div class="column is-half">
    <div class="container">
      <div class="box">
        <h3 class="title">Add Coins to your portfolio</h3>

        <div class="field">
          <label class="label">Cryptocurrencies:</label>
          <div class="control">
            <input class="input" type="text"  />
          </div>
        </div>

        <div class="field">
          <label class="label">Quantity:</label>
          <div class="control">
            <input
              class="input"
              type="number"
              (input)="onChangeOfAuthor($event)"
            />
          </div>

        </div>
        <div class="field">
          <label class="label">Bought at price:</label>
          <div class="control">
            <input class="input" type="text"  />
          </div>
        </div>

        <div class="field">
          <label class="label">Date of buying:</label>
          <div class="control">
            <input class="input" type="text" />
          </div>
        </div>

        <!--<p class="title">'{{ text }}'-{{ author }}</p>
        <p class="title" [innerText]="fullQuote"></p>-->
        <button class="button is-link" (click)="onAddQuote()">
          Add Currencies
        </button>
      </div>
    </div>
  </div>
</div>
