div#crypto-container {
  background:white;
  width: 100%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

span.left {
  font-weight: bold;
  float: start;
}

span.right {
  float:right;
}

.img{
  max-width: 20px;
  margin-right: 15px;
}
